<div class="container mt-5">
  <div class="grid-show">
    div map
    <div>
      <h3>
      <% if @project.property_type = "Appartement neuf" || "Appartement ancien"%>
        Mon appartement
      <% elsif @project.property_type = "Maison ancienne" || "Maison neuve" %>
        Ma maison
      <% end %>
      </h3>
      <ul class="list-unstyled">
        <li class="mt-2"><i class="fa-solid fa-location-dot me-1" style="color: #1f2c93;"></i> <%= @project.address.gsub(",","") %></li>
        <li class="mt-2"><i class="fa-solid fa-ruler-horizontal me-1" style="color: #1f2c93;"></i> <%= @project.surface %> m²</li>
        <li class="mt-2"><i class="fa-solid fa-house me-1" style="color: #1f2c93;"></i> <%= @project.property_type %></li>
        <li class="mt-2"><i class="fa-solid fa-screwdriver-wrench me-1" style="color: #1f2c93;"></i> <%= @project.renovation_type %></li>
      </ul>
    </div>

  </div>
  <div class="card-show">

  </div>

  <div class="grid-show">
    <div>
      <h3> Entreprise sélectionnée </h3>
      <ul class="list-unstyled">
        <li><%= cl_image_tag @chosen_company.logo.key, class:"avatar"%> <strong><%= @chosen_company.name%></strong></li>
        <li><%= @chosen_company.address.gsub(",","") %></li>
        <li><small>
          <%= link_to "Voir la page de l'entreprise", project_company_path(@chosen_company), class: "text-decoration-none btn btn-success text-white mt-3" %>
        </small></li>
      </ul>
    </div>
    <div id="project-virtual-visit">
      <h3> Ma prochaine visite </h3>
      <% if Date.now > @project.visit_date %>
        prévue le <strong><%= @project.visit_date.strftime("%d/%m/%Y à %H:%M")%></strong>
      <% elsif %>
        effectuée le <strong><%= @project.visit_date.strftime("%d/%m/%Y à %H:%M")%></strong>
      <% end %>
      <div data-controller="video-call"
          data-video-call-access-token-value="<%= @twilio_jwt %>"
          data-video-call-room-id-value="<%= @room_id %>"
          data-video-call-buddy-video-width-value="200">
        <div class="videos mt-3">
          <div data-video-call-target="buddyVideo" class="<%= current_user != @project.user ? "primary" : "secondary" %>"></div>
          <div data-video-call-target="localVideo" class="<%= current_user == @project.user ? "primary" : "secondary" %>"></div>
        </div>
        <div class="btn btn-primary rounded-pill text-white btn-call-start" data-action="click->video-call#joinCall">Start call</div>
        <div class="btn btn-danger rounded-pill text-white btn-call-end d-none" data-action="click->video-call#endCall">End call</div>
      </div>
    </div>
  </div>

  <hr class="celine">

  <div class="card-show">
    <h3> Mes devis </h3>
    <% if Date.today > @project.visit_date %>
      <% if @project.quotes.present? %><tr>
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">Entreprise</th>
              <th scope="col">Devis</th>
              <th scope="col">Tarif</th>
            </tr>
          </thead>
          <tbody>
            <% @project.quotes.each do |quote| %>
              <tr>
                <th scope="row"> <%= quote.company.name%></th>
                <td><small><%= link_to "Voir le devis", cl_image_path(quote.file.key), target: "_blank" %></small></td>
                <td><%= quote.price %>€</td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        Vous n'avez pas encore reçu de devis : encore un peu d'attente ⏱️
      <% end %>
    <% elsif Date.today < @project.created_at %>
      Bientôt la visite, bientôt vos devis ! 🔏
    <% end %>
  </div>
</div>
