<div class="container mt-5">
  <div class="d-flex justify-content-between">
    <div id="project-place-info">
      <h3 class="mb-4"><i class="fa-solid fa-key me-2"></i>
      <% if @project.property_type = "Appartement neuf" || "Appartement ancien"%>
        Mon appartement
      <% elsif @project.property_type = "Maison ancienne" || "Maison neuve" %>
        Ma maison
      <% end %>
      </h3>
      <ul class="list-unstyled">
      <li class="mt-2"><strong>Adresse -</strong> <%= @project.address.gsub(",","") %></li>
      <li class="mt-2"><strong>Surface -</strong> <%= @project.surface %> m²</li>
      <li class="mt-2"><strong>Type de bien -</strong> <%= @project.property_type %></li>
      <li class="mt-2"><strong>Type de rénovation -</strong> <%= @project.renovation_type %></li>
    </ul>

    <div class="card d-flex flex-row" style="width: 18rem">
        <% unless Date.today > @project.visit_date %>
          <div id="project-virtual-visit">
            <h3><i class="fa-solid fa-eye me-2"></i> Ma visite virtuelle</h3>
             <strong><%= @project.visit_date.strftime("%^B")%></strong>
             <strong><%= @project.visit_date.strftime("%y")%></strong>
            <div data-controller="video-call"
                data-video-call-access-token-value="<%= @twilio_jwt %>"
                data-video-call-room-id-value="room-<%= @project.id %>"
                data-video-call-buddy-video-width-value="200">
                <div data-video-call-target="buddyVideo"></div>
                <div data-video-call-target="localVideo"></div>
                <div class="btn btn-primary rounded-pill text-white btn-call-start" data-action="click->video-call#joinCall">Start call</div>
               <div class="btn btn-danger rounded-pill text-white btn-call-end" data-action="click->video-call#endCall">End call</div>
            </div>
          </div>
        <% end %>
    </div>
</div>
