<%# mobile version %>

<div class="d-flex justify-content-center mt-3">
  <h3>Mon projet</h3>
</div>

<hr class="celine">
<div class="content">
  <div class="cards-index">
    <% @projects.each do |project| %>
      <div class="card-comp mx-5">
        <div class="card-comp-infos">
          <div class="row">
            <h3><i class="fa-solid fa-eye me-2"></i> Mon futur projet</h3>
            <p>Adresse du projet: <%= project.address %></p>
            <p>Propriété: <%= project.property_type %></p>
            <p>Surface: <%= project.surface %> m2</p>
            <p>Type de rénovation: <%= project.renovation_type %></p>
            <%= link_to "Les détails de vos projets", project_path(project.last) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<hr class="celine">
