<div class="container mt-5">
  <div class="d-flex justify-content-between">
    <div id="project-place-info">
      <h3 class="mb-4"><i class="fa-solid fa-key me-2"></i>
      <% if @project.property_type = "Appartement neuf" || "Appartement ancien"%>
        Mon appartement
      <% elsif @project.property_type = "Maison ancienne" || "Maison neuve" %>
        Ma maison
      <% end %>
      </h3>
      <ul class="list-unstyled">
        <li class="mt-2"><strong>Adresse -</strong> <%= @project.address.gsub(",","") %></li>
        <li class="mt-2"><strong>Surface -</strong> <%= @project.surface %> m²</li>
        <li class="mt-2"><strong>Type de bien -</strong> <%= @project.property_type %></li>
        <li class="mt-2"><strong>Type de rénovation -</strong> <%= @project.renovation_type %></li>
      </ul>

      <h3 class="my-4"><i class="fa-solid fa-helmet-safety me-2"></i> Entreprise sélectionnée </h3>
      <ul class="list-unstyled">
        <li><%= cl_image_tag @chosen_company.logo.key, class:"avatar"%> <strong><%= @chosen_company.name%></strong></li>
        <li><small> <%= @chosen_company.address.gsub(",","") %>
        </small>
        </li>
        <li><small>
          <%= link_to "Voir la page de l'entreprise", project_company_path(@chosen_company), class: "mt-2 text-decoration-none btn btn-sm btn-outline-primary" %>
        </small></li>
      </ul>
    </div>

    <% unless Date.today > @project.visit_date %>
      <div id="project-virtual-visit">
        <h3><i class="fa-solid fa-eye me-2"></i> Ma visite virtuelle</h3>
        prévue le <strong><%= @project.visit_date.strftime("%d/%m/%Y")%></strong>
        <div data-controller="video-call"
            data-video-call-access-token-value="<%= @twilio_jwt %>"
            data-video-call-room-id-value="<%= @room_id %>"
            data-video-call-buddy-video-width-value="200">
            <div data-video-call-target="buddyVideo"></div>
            <div data-video-call-target="localVideo"></div>
            <div class="btn-call-start" data-action="click->video-call#joinCall">Call</div>
            <div class="btn-call-end" data-action="click->video-call#endCall">End call</div>
        </div>
      </div>
    <% end %>

  </div>

  <h3 class="mt-4"><i class="fa-solid fa-file-invoice me-2"></i> Mes devis </h3>
  <% if Date.today > @project.visit_date %>
    <% if @project.quotes.present? %><tr>
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">Entreprise</th>
            <th scope="col">Devis</th>
            <th scope="col">Tarif</th>
          </tr>
        </thead>
        <tbody>
          <% @project.quotes.each do |quote| %>
            <tr>
              <th scope="row"> <%= quote.company.name%></th>
              <td><small><%= link_to "Voir le devis", cl_image_path(quote.file.key)%></small></td>
              <td><%= quote.price %>€</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      Vous n'avez pas encore reçu de devis : encore un peu d'attente <i class="fa-solid fa-clock"></i>
    <% end %>
  <% elsif Date.today < @project.created_at %>
    Bientôt la visite, bientôt vos devis ! 🔏
  <% end %>
</div>
