<div class="d-flex justify-content-between px-4 pt-3">

  <div class="py-1">
    <em><%= @companies.size %> résultats</em>
  </div>
  <div class="d-flex">

      <%= simple_form_for :filters, url: project_companies_path, method: :get, html:{ class:"d-flex" } do |f| %>
        <%= f.input :star_rating,
          collection: [["1 étoile", 1], ["2 étoiles", 2], ["3 étoiles", 3], ["4 étoiles", 4], ["5 étoiles", 5]],
          label: false,
          include_blank: "Note",
          selected: params.dig(:filters, :star_rating) %>

        <%= f.input :review_number,
          collection: [[">5", 5], [">10", 10], [">50", 50]],
          label: false,
          wrapper_html: { class:"ms-3" },
          include_blank: "Nombre d'avis",
          selected: params.dig(:filters, :review_number) %>

        <%= f.input :photo,
          collection: [true, false],
          wrapper_html: { class:"d-flex align-items-center"},
          as: :boolean, input_html: { class: "toggle" },
          selected: params.dig(:filters, :photo) %>

    <%# <div>
      <%= f.input :existence_years,
      collection: [["2 à 5 ans", 2], ["5 à 10 ans", 5], [">10 ans", 10]],
      label: false,
      include_blank: "Ancienneté",
      selected: params.dig(:filters, :existence_years) %>
    <%# </div>
    <div> %>
      <%#= f.select :sorting, [:star_rating, :review_number, :existence_years] %>
    <%# </div> %>
      <%#= button_tag(type: "submit", class: "btn btn-search") do %>
          <%# <i class="fa-solid fa-magnifying-glass"></i> %>
      <%# end %>

        <div class="ms-4"><%= f.submit 'Filtrer', class:"btn btn-primary text-white" %></div>
    <% end %>
  </div>

</div>

<div class="container my-3">

  <div class="row d-flex mx-2">
    <% @companies.each do |company| %>
      <div class="col-3 mb-5">
        <%= link_to project_company_path(@project_id, company), style:"text-decoration: none" do %>
          <div class="card-company my-2 zoom">
            <div id="carouselImgControls<%= company.id %>" class="carousel slide">
              <div class="carousel-inner">
                <% if company.projects_photos %>
                  <% company.projects_photos.each_with_index do |photo, index| %>
                    <div class="carousel-item <%= "active" if index == 0 %>">
                      <div class="card-image">
                        <%= cl_image_tag photo.key, crop: :fill %>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselImgControls<%= company.id %>" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselImgControls<%= company.id %>" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>

            <div class="card-company-infos">
              <div class="d-flex align-items-center">
                <div class="me-2"><%= cl_image_tag company.logo.key, class:"avatar-company" %></div>
                <h2 class="mb-0"><%= company.name %></h2>
              </div>
              <div class="d-flex">
                <div id="stars">
                  <% company.average_rating.round.times do %>
                    <i class="fa-solid fa-star" style="color: #fecc00;"></i>
                  <% end %>
                </div>
                <div id="stars" class="ms-1"><em><%= company.average_rating.round(1) %>/5</em>
                </div>
              </div>
              <p class="text-clamped"><%= company.description %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

</div>
