<div class="container">

  <div class="row">
    <% @companies.each do |company| %>
      <div class="col-12 col-sm-6 col-md-4 my-3">
        <%= link_to company_path(company), style:"text-decoration: none" do %>
          <div class="card-product my-2">
            <% if company.project_companies(1).last.photo.first %>
              <%= cl_image_tag company.project_companies.last.photo.first %>
            <% else %>
              <img src="" alt="", height=300, width=400>
            <% end %>
            <div class="card-product-infos">
              <h2><%= company.name %></h2>
              <p><%= company.description.truncate(50) %> <strong>voir plus.</strong></p>
              <div class="d-flex justify-content-between">
                <p><strong> <%= company.price %> €</strong></p>
                <p><span class="badge bg-secondary"><%= company.category %></span></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>



</div>
