<div class="bg-info p-4">

  <div>
    <%= form_with url: project_companies_path, method: :get, class: "d-flex" do |f| %>
      <%= f.select :stars, (0..5) %>
      <%= f.select :photos, ["avec", "sans"] %>
      <%= f.select :existence_years, ["De 2 à 5 ans", "De 5 à 10 ans", "Plus de 10 ans"] %>
      <%= button_tag(type: "submit", class: "btn btn-search") do %>
          <i class="fa-solid fa-magnifying-glass"></i>
      <% end %>
    <% end %>
  </div>

</div>

<div class="bg-primary">
  résultats
</div>

<div class="container my-5">

  <div class="row d-flex mx-2">
    <% @companies.each do |company| %>
      <div class="col-4 mb-5">
        <%= link_to company_path(company), style:"text-decoration: none" do %>
          <div class="card-company my-2 mx-5">
            <div class="card-image"><%= cl_image_tag company.project_photo.key, crop: :fill %></div>
            <div class="card-company-infos">
              <h2><%= cl_image_tag company.logo.key, class:"avatar" %> <%= company.name %></h2>
              <p><%= company.description.truncate(50) %> <strong>voir plus.</strong></p>
              <div class="d-flex justify-content-between">
                <p><strong><%= company.average_rating %>/5</strong></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

</div>
