<div class="container">
  <p id="return-arrow">
    <i class="fa-solid fa-arrow-left fa-lg" style="color: #28ada8;"></i>
    <em><%= link_to "Retour aux résultats", project_companies_path(@project), style:"text-decoration:none" %></em>
  </p>
  <div class="d-flex mb-4">
    <div class="card-banner-show my-4">
      <% if @company.projects_photos.fifth %>
        <%= cl_image_tag @company.projects_photos.fifth.key, class:"card-banner-show", style:"height:100%" %>
      <% else %>
        <%= cl_image_tag @company.projects_photos.first.key, class:"card-banner-show", style:"height:100%" %>
      <% end %>
    </div>
    <div class="d-flex flex-column flex-grow-1 ms-4 my-4">
      <div class="d-flex align-items-center">
        <div class="me-2"><%= cl_image_tag @company.logo.key, class:"avatar-large" %></div>
        <h3><%= @company.name %></h3>
      </div>
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">À propos de nous</button>
          <button class="nav-link " id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Détails de l'entreprise</button>
          <button class="nav-link" ><a href="#Avis" style="text-decoration: none">Avis</a></button>
        </div>
      </nav>
      <div class="flex-grow-1 tab-content m-2" id="nav-tabContent">
        <div class="tab-pane fade show active tab-desc mt-2" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          <p><%= @company.description %></p>
        </div>
        <div class="tab-pane fade tab-desc mt-2" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
          <div class="d-flex justify-content-between">
            <div>
              <p class="mb-1"><strong>Date de création</strong></p>
              <p><%= @company.creation_date %></p>
            </div>
            <div>
              <p class="mb-1"><strong>Adresse</strong></p>
              <p><%= @company.address %></p>
            </div>
          </div>
          <p class="mb-1"><strong>Site et réseaux sociaux</strong></p>
          <p><a href="#">www.<%= @company.name.split(' ').last.strip %>.com</p>
          <a href="#"><i class="fab fa-instagram fa-lg"></i></a>
          <a href="#"><i class="fab fa-facebook fa-lg"></i></a>
          <a href="#"><i class="fab fa-twitter fa-lg"></i></a>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-primary text-white" data-bs-toggle="modal" data-bs-target="#summaryModal">
        Je prends RDV !
        </button>
      </div>
    </div>
  </div>

  <div class="modal fade mt-5" id="summaryModal" tabindex="-1" aria-labelledby="summaryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-show">
      <div class="modal-content">
        <div class="modal-header">
          <div class="text-center w-100"><h1 class="modal-title fs-5" id="summaryModalLabel">Votre RDV</h1></div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body mx-4">
          <p><%= cl_image_tag @company.logo.key, class:"avatar me-2" %> <strong><%= @company.name %></strong></p>
          <hr>
          <p><i class="fa-solid fa-calendar-days me-2" style="color: #383839;"></i><%= @project.visit_date.strftime("%d/%m/%Y à %H:%M") %></p>
          <p><i class="fa-solid fa-location-dot me-2" style="color: #383839;"></i><%= @project.address %></p>
          <p><i class="fa-solid fa-ruler-horizontal me-2" style="color: #383839;"></i><%= @project.surface %> m2</p>
          <p><i class="fa-solid fa-house me-2" style="color: #383839;"></i><%= @project.property_type %></p>
          <p><i class="fa-solid fa-screwdriver-wrench me-2" style="color: #383839;"></i><%= @project.renovation_type %></p>
        </div>
        <div class="modal-footer d-flex justify-content-between align-items-center mx-4">
          <a href="#"><i class="fa-solid fa-pen-to-square fa-lg" style="color: #787878;"></i></a>
          <div><%= link_to "Continuer", project_project_companies_path(@project, {project_company: {company_id: @company.id}}), data: { turbo_method: :post }, class:"btn btn-primary text-white" %></div>
        </div>
      </div>
    </div>
  </div>

   <hr class="celine">

  <div class="row d-flex">
    <% @company.projects.each do |project| %>
      <div class="col-3 my-3">
        <div class="card-company my-2 zoom">
          <div class="card-image">
            <div id="carouselImgControls<%= project.id %>" class="carousel slide">
              <div class="carousel-inner">
                <% if project.photos %>
                  <% project.photos.each_with_index do |photo, index| %>
                    <div class="carousel-item <%= "active" if index == 0 %>">
                      <div class="card-image">
                        <%= cl_image_tag photo.key, crop: :fill %>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselImgControls<%= project.id %>" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselImgControls<%= project.id %>" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
          <div class="card-company-infos mb-2">
              <% if project.average_rating_project %>
                <div class="d-flex">
                  <div id="stars-show">
                    <% project.average_rating_project.round.times do %>
                      <i class="fa-solid fa-star" style="color: #fecc00;"></i>
                    <% end %>
                  </div>
                  <div id="stars-show" class="ms-1"><em> <%= project.average_rating_project %>/5</em>
                  </div>
                </div>
                <% end %>
              <p><i class="fa-solid fa-ruler-horizontal me-2" style="color: #383839;"></i><%= project.surface %> m2</p>
              <p><i class="fa-solid fa-location-dot me-2" style="color: #383839;"></i><%= project.city %></p>
              <p><i class="fa-solid fa-house me-2" style="color: #383839;"></i><%= project.property_type %></p>
              <p><i class="fa-solid fa-screwdriver-wrench me-2" style="color: #383839;"></i><%= @project.renovation_type %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <hr class="celine">

  <h4><%= @company.reviews.count %> avis de nos clients pour <%= @company.name %></h4>
  <div class="row d-flex">
    <a id="Avis"></a>
      <% @company.reviews.each do |review| %>
      <div class="d-flex justify-content-between avis mt-2">
        <div>
          <p><strong>
            <%= cl_image_tag review.project_company.project.user.photo.key, class:"avatar" %> <%= review.project_company.project.user.first_name %> <%= review.project_company.project.user.last_name.first %>.
          </strong></p>
         </div>
        <div>
          <p class="light-gray">
            <% review.rating.round.times do %>
              <i class="fa-solid fa-star" style="color: #fecc00;"></i>
            <% end %>
            <em><%= review.created_at.strftime('Publié le %d/%m/%Y à %Hh%M')%></em>
          </p>
        </div>

      </div>
        <p><%= review.comment %></p>
        <hr>
      <% end %>
  </div>

</div>
