<div class="container">
  <div class="card-banner-show my-4" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @company.project_photo.key %>);"></div>

  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">À propos de nous</button>
      <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Détails de l'entreprise</button>
      <button class="nav-link" ><a href="#Avis" style="text-decoration: none">Avis</a></button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <div class= "row">
        <div class="col-12 mt-4">
          <div class="d-flex justify-content-between align-items-start">
            <h2><%= cl_image_tag @company.logo.key, class:"avatar" %> <%= @company.name %></h2>
            <%= link_to "Je prends RDV !", project_project_companies_path(@project, {project_company: {company_id: @company.id}}), data: { turbo_method: :post }, class:"btn btn-primary" %>
          </div>
          <p><%= @company.description %></p>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      <div class= "row">
        <div class="col-6 mt-4">
          <h2><%= cl_image_tag @company.logo.key, class:"avatar" %> <%= @company.name %></h2>
          <p><%= @company.name %></p>
          <p><%= @company.address %></p>
        </div>
        <div class="col-6 mt-4">
        <p><strong>Site et réseaux sociaux</strong></p>
        <p>www.<%= @company.name.split(' ').last.strip %>.com</p>
          <div class="row mt-4">
            <a href="#"><i class="fab fa-instagram fa-lg"></i> <%= @company.name.split(' ').last.strip.capitalize %></a>
            <a href="#"><i class="fab fa-facebook fa-lg"></i> <%= @company.name.split(' ').last.strip.capitalize %></a>
            <a href="#"><i class="fab fa-twitter fa-lg"></i> <%= @company.name.split(' ').last.strip.capitalize %></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="celine">

  <div class="row d-flex mx-4">
    <% @company.projects.each do |project| %>
      <div class="col-4 mb-5">
        <div class="card-company my-2">
          <div class="card-image">
            <% if project.photos.empty? %>
            <%= nil %>
            <% else %>
            <%= cl_image_tag project.photos.first.key, crop: :fill %>
            <% end %>
          </div>
          <div class="card-company-infos">
            <div class="row">
              <p><strong>Ville du projet: <%= project.city %></strong></p>
              <p><strong>Propriété: <%= project.property_type %></strong></p>
              <p><strong>Surface: <%= project.surface %> m2</strong></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <hr class="celine">

  <h4><%= @company.reviews.count %> avis de nos clients pour <%= @company.name %></h4>
  <div class="row d-flex mx-4 mb-5">
    <h2><a id="Avis"></a>Avis</h2>
    <% @company.reviews.each do |review| %>
      <div class="">
        <p><%= cl_image_tag review.project_company.project.user.photo.key, class:"avatar" %> <%= review.project_company.project.user.first_name %> <%= review.project_company.project.user.last_name.first %>.</p>
        <p class="light-gray">
          <% review.rating.round.times do %>
            <i class="fa-solid fa-star" style="color: #fecc00;"></i>
          <% end %>
          <em><%= review.created_at.strftime('Publié le %d/%m/%Y à %Hh%M')%></em>
        </p>
        <p><%= review.comment %></p>
        <hr>
      </div>
    <% end %>
  </div>

</div>
